.weatherLocationCont{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 45px);
    min-width: 400px;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 42px -12px rgba(0,0,0,0.75);
    background: rgba(0, 200, 240, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.locationCont{
    width: 100%;
    height: 35px;
    text-align: left;
    color: #888;
    line-height: 35px;
}

.locationCont H1 {
    margin: 0;
}

.locationList {
    height: 85vh;
    overflow: auto;
    margin-bottom: 20px;
}

@media (max-width: 64em) {
    .locationList {
        height:40vh;
        margin-bottom: 20px;
    }
}

.forecast-title{
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

